# Working with Pandas Series ðŸ“Š

This notebook demonstrates different ways to work with **Pandas Series**, which are one-dimensional labeled arrays in Python.  

### 1. Creating and Accessing Series Elements
- Create a Pandas Series from a NumPy array.  
- Access elements using **indexing, slicing, and multiple indices**.  
- Retrieve subsets like **first 5** and **last 5** elements.  

### 2. Performing Operations on Series
- Create two labeled Series and perform **arithmetic operations** like addition.  
- Compare two Series element-wise using logical operators.  
- Apply **bitwise logical operations** on Series.  

### 3. Series from a Dictionary (Fruit Protein Example)
- Create a Series from a dictionary with fruit names as index and protein content as values.  
- Apply **conditional filtering** (e.g., values > 2, between 1 and 2).  
- **Modify values** directly by index label (e.g., update Mangoâ€™s protein content).  

### Key Learning Outcomes
âœ” Understanding **Series creation** from arrays and dictionaries.  
âœ” Applying **indexing and slicing** to access data.  
âœ” Performing **vectorized arithmetic and logical operations** on Series.  
âœ” Using **conditional filtering** to query data.  
âœ” **Updating Series values** directly via labels.

In [5]:
import pandas as pd
import numpy as np
data = np.array(['g', 'e', 'e', 'k', 's', 'f','o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

#Accesing elements
#using index
print("Third element in the series:")
print(ser[3])
#first 5 elements
print("First five elements in the series:")
print(ser[0:5])
#Last 5 elements
print("Last five elements in the series:")
print(ser[-5:])
#Accesing multiple elements
print(ser[[0,3]])

0     g
1     e
2     e
3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object
Third element in the series:
k
First five elements in the series:
0    g
1    e
2    e
3    k
4    s
dtype: object
Last five elements in the series:
8     g
9     e
10    e
11    k
12    s
dtype: object
0    g
3    k
dtype: object

In [8]:
import pandas as pd
s1=pd.Series([1,2,3], index=['a', 'b', 'c'])
s2=pd.Series([4,5,6], index=['a', 'b', 'c'])

#Adding s1 and s2
print("Addition of two series:")
print(s1+s2)

#comparing two series
print("Comparison of two series:")
print(s1==s2)

#Applying logical AND
print("Logical operation:")
print(s1&s2)

Addition of two series:
a    5
b    7
c    9
dtype: int64
Comparison of two series:
a    False
b    False
c    False
dtype: bool
Logical operation:
a    0
b    0
c    2
dtype: int64

In [11]:
import pandas as pd
fruit_protein = {
    "Avocado": 2.0,
    "Guava": 2.6,
    "Blackberries": 2.0,
    "Oranges": 0.9,
    "Banana": 1.1,
    "Apples": 0.3,
    "Kiwi": 1.1,
    "Pomegranate": 1.7,
    "Mango": 0.8,
    "Cherries": 1.0
}
s2=pd.Series(fruit_protein,name='Protein')
print(s2)

# fruits names with their values greater than 1.5
print(s2[s2>2])
# fruits names with their values greater than 1 and less than 2
print(s2[(s2>1)&(s2<2)])
#Modifying value
s2['Mango']=2.2
print(s2)

Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           0.8
Cherries        1.0
Name: Protein, dtype: float64
Guava    2.6
Name: Protein, dtype: float64
Banana         1.1
Kiwi           1.1
Pomegranate    1.7
Name: Protein, dtype: float64
Avocado         2.0
Guava           2.6
Blackberries    2.0
Oranges         0.9
Banana          1.1
Apples          0.3
Kiwi            1.1
Pomegranate     1.7
Mango           2.2
Cherries        1.0
Name: Protein, dtype: float64